<div class="px-4 sm:px-0 mx-auto">
  <header class="bg-white rounded border border-gray-300">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-xl font-bold tracking-tight text-gray-900">
        Item detail
      </h1>
    </div>
  </header>

  <div class="my-5 px-2 py-6 sm:px-6 lg:px-8">
    <div class="px-4 sm:px-0">
      <h2 class="text-base font-semibold leading-7 text-gray-900">
        <%= item.name %>
      </h2>
      <div class="flex-row space-x-0.5">
        <a
          class="hover:underline"
          href="<%= item.url %>/update"
          hx-get="<%= item.url %>/update">
          <small>Update</small>
        </a>
        <a
          class="hover:underline"
          href="<%= item.url %>/delete"
          hx-delete="<%= item.url %>/delete"
          hx-confirm="Are you sure?">
          <small>Delete</small>
        </a>
      </div>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Description
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <%= item.description %>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Category</dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <a
              class="text-indigo-800 hover:text-indigo-600 underline"
              hx-get="<%= item.category.url %>"
              hx-push-url="true"
            >
              <%= item.category.name %>
            </a>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Price per unit
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            $<%= item.price %>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">In Stock</dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <%= item.inStock %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
